body {
  font-family: Poppins, sans-serif;
  color: #212127;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 38px;
  line-height: 44px;
  font-weight: 500;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 32px;
  line-height: 38px;
  font-weight: 500;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
}

h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
}

h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
}

p {
  margin-bottom: 10px;
  color: #aaa;
  font-size: 16px;
  line-height: 30px;
  font-weight: 300;
}

a {
  color: #aaa;
  text-decoration: underline;
}

ul {
  margin-top: 0px;
  margin-bottom: 10px;
  padding-left: 40px;
  color: #2adc65;
}

ol {
  margin-top: 0px;
  margin-bottom: 10px;
  padding-left: 40px;
  color: #aaa;
}

li {
  padding-top: 5px;
  padding-bottom: 5px;
}

blockquote {
  margin-bottom: 10px;
  padding: 5px 20px;
  border-left: 2px solid #2adc65;
  color: #aaa;
  font-size: 18px;
  line-height: 26px;
  font-weight: 300;
}

figure {
  margin-top: 20px;
  margin-bottom: 20px;
}

.banner {
  position: relative;
  z-index: 1;
  overflow: hidden;
  height: 100vh;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #fff;
}

.banner.style-2 {
  z-index: 2;
  overflow: visible;
  height: 800px;
  background-color: #f8fbfd;
}

.banner.style-3 {
  overflow: visible;
  height: auto;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

.banner.style-6 {
  padding-right: 0px;
  padding-left: 0px;
  background-color: #f8fbfd;
}

.project-content {
  position: relative;
}

.project-content.full-version {
  overflow: hidden;
}

.project-content.in-password {
  z-index: 6;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  max-width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
}

.section {
  position: relative;
  z-index: 1;
  padding: 120px 30px;
  background-color: #fff;
  text-align: center;
}

.section.gray {
  z-index: 1;
  background-color: #f8fbfd;
}

.section.gray.mockup {
  height: 500px;
}

.section.gray.mockup.pi-pay-color-palette-section {
  background-color: #fff;
}

.section.less-padding {
  padding-top: 50px;
  padding-bottom: 60px;
}

.section.image {
  padding-top: 180px;
  padding-bottom: 50px;
  background-image: -webkit-linear-gradient(45deg, rgba(0, 0, 0, .25), hsla(0, 0%, 100%, .3)), url('../images/black.jpg');
  background-image: linear-gradient(45deg, rgba(0, 0, 0, .25), hsla(0, 0%, 100%, .3)), url('../images/black.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
}

.section.overflow {
  overflow: hidden;
}

.section.no-top-padding {
  padding-top: 60px;
}

.section.with-shape {
  background-image: url('../images/shape-banner-2.png');
  background-position: 100% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.section.with-shape.overflow {
  background-image: url('../images/votiva.jpg');
  background-position: 100% 0px;
  background-size: 1000px;
}

.section.with-shape-second {
  padding-top: 0px;
  background-image: url('../images/pipaysideshape.png');
  background-position: 0px 0px;
  background-size: 900px;
  background-repeat: no-repeat;
  font-family: Ubuntu, Helvetica, sans-serif;
}

.container {
  max-width: 1200px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.container.center {
  position: relative;
  top: 50%;
  z-index: 1;
  -webkit-transform: translate(0px, -50%);
  -ms-transform: translate(0px, -50%);
  transform: translate(0px, -50%);
}

.container.center.style-2 {
  top: 45%;
}

.container.center.style-3 {
  top: 45%;
}

.container.center.sub-banner-style {
  top: 55%;
}

.container.in-mockup {
  margin-top: -450px;
}

.container.banner-style-3 {
  position: absolute;
  left: 0px;
  top: 45%;
  right: 0px;
  -webkit-transform: translate(0px, -50%);
  -ms-transform: translate(0px, -50%);
  transform: translate(0px, -50%);
}

.container.service-list-container {
  margin-top: 100px;
}

.navbar {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 90px;
  padding-right: 20px;
  padding-left: 20px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 1px 7px 1px rgba(0, 0, 0, .1);
}

.navbar.white-style {
  left: 0px;
  top: 0px;
  right: 0px;
  background-color: transparent;
}

.navlink {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 18px 25px 15px 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 500;
  text-decoration: none;
}

.nav-text {
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #212127;
}

.nav-text.white-nav-text {
  color: #fff;
}

.nav-line {
  width: 100%;
  height: 2px;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
  background-color: #e3211a;
}

.icon {
  margin-top: 22px;
  margin-right: 8px;
  color: #b5b5be;
  font-size: 12px;
}

.brand {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  margin-top: 5px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.logo-tagline {
  margin-left: 15px;
  color: #717177;
  font-size: 14px;
}

.logo-tagline.white-color {
  color: #fff;
}

.logo-image {
  position: relative;
  z-index: 1;
  width: 100px;
}

.shape-1 {
  position: absolute;
  right: 50px;
  bottom: 105px;
  z-index: 9999;
}

.shape-1.five-style {
  bottom: -72px;
  z-index: 5;
}

.shape-2 {
  position: absolute;
  left: 5px;
  top: 300px;
  bottom: 100px;
}

.shape-4 {
  position: absolute;
  right: 300px;
  bottom: 69px;
  z-index: 9999;
}

.shape-4.version-2 {
  bottom: -45px;
}

.shape-6 {
  position: relative;
  left: 35px;
  right: -120px;
  bottom: 0px;
  z-index: 1;
  max-height: 100%;
  max-width: none;
  float: left;
}

.flex-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.flex-row.no-flex {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.flex-row.vertical-flex {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.flex-row.vertical-flex.no-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.shape-8 {
  position: absolute;
  right: -150px;
  bottom: 88px;
  z-index: 1;
  -webkit-filter: blur(5px);
  filter: blur(5px);
}

.shape-8.style-2 {
  right: 220px;
  bottom: 160px;
  -webkit-filter: blur(10px);
  filter: blur(10px);
}

.dropdown-list.w--open {
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, .04);
}

.vertical-wrapper {
  position: absolute;
  top: 53px;
  right: -20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: -120px;
  float: right;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.vertical-wrapper.left {
  right: auto;
  margin-right: 0px;
  margin-left: -180px;
}

.vertical-wrapper.left.x2 {
  margin-left: -125px;
}

.vertical-wrapper.left.y2 {
  margin-left: -220px;
}

.vertical-number {
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #e3211a;
  font-size: 60px;
  line-height: 60px;
  font-weight: 400;
}

.vertical-line {
  position: relative;
  width: 200px;
  height: 1px;
  margin-right: 20px;
  background-color: #e3211a;
  color: #e3211a;
}

.algin-center {
  position: relative;
  text-align: center;
}

.title-wrapper {
  display: block;
  width: 75%;
  margin-right: auto;
  margin-left: auto;
}

.title-wrapper.with-margin {
  margin-bottom: 80px;
}

.title-wrapper.with-margin.more {
  margin-bottom: 120px;
}

.title-wrapper.full-percent {
  width: 100%;
  margin-right: 0px;
  margin-left: 0px;
}

.big-title {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
  color: #e3211a;
  font-size: 50px;
  line-height: 60px;
  font-weight: 700;
  text-decoration: none;
}

.big-title.style-2 {
  font-size: 60px;
  line-height: 70px;
}

.big-title.style-3 {
  color: hsla(0, 0%, 100%, .41);
  font-size: 58px;
  line-height: 70px;
  text-decoration: none;
}

.big-title.style-4 {
  font-size: 70px;
  line-height: 80px;
}

.page-title {
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #212127;
  line-height: 30px;
}

.page-title.make-white {
  display: inline-block;
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #fff;
  font-weight: 700;
}

.page-title.make-white.contact-page-email-link {
  display: block;
  text-decoration: none;
}

.page-subtitle {
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #333;
  font-size: 22px;
  font-weight: 500;
}

.page-subtitle.white-title {
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #fff;
  font-weight: 500;
}

.page-subtitle.homepage-subtitle {
  padding-right: 76px;
  line-height: 28px;
}

.top-margin {
  margin-top: 25px;
}

.top-margin.medium {
  margin-top: 0px;
}

.top-margin.medium.copyright-footer {
  margin-top: 60px;
}

.top-margin.medium.client-testimonials {
  display: none;
}

.top-margin.small {
  margin-top: 15px;
}

.top-margin.big {
  margin-top: 90px;
}

.top-margin.big.pi-pay-typography-choice {
  margin-bottom: 90px;
}

.button {
  display: inline-block;
  padding: 15px 33px;
  border-radius: 2px;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  color: #fff;
}

.button:hover {
  background-color: #2adc65;
}

.button.subscribe-button {
  width: 40%;
  float: left;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  background-color: #000;
  font-family: Ubuntu, Helvetica, sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.button.subscribe-button:hover {
  background-color: #e3211a;
}

.button.line {
  background-color: transparent;
  box-shadow: inset 0 0 0 1px #fff;
}

.button.line:hover {
  background-color: #fff;
  color: #2adc65;
}

.button.full {
  display: block;
  width: 100%;
  text-align: center;
}

.button.mad-button {
  margin-top: 62px;
  background-color: #000;
  font-family: Ubuntu, Helvetica, sans-serif;
  font-weight: 600;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.button.mad-button:hover {
  background-color: #e3211a;
}

.button.mad-button.left-align-button {
  float: left;
}

.button.mad-button.right-aligned-button {
  float: right;
}

.ceo-photo {
  display: block;
  width: 160px;
  height: 160px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 400px 200px 200px 150px;
  background-color: #000;
  background-image: url('../images/Emanuele-Faja-Headshot.jpg');
  background-position: 43% 11%;
  background-size: 300px;
  background-repeat: no-repeat;
  box-shadow: 14px 14px 50px -20px rgba(0, 0, 0, .5);
}

.ceo-photo.in-team {
  margin-top: -120px;
  border-radius: 100%;
  background-image: url('../images/Emanuele-Faja-Headshot.jpg');
  background-position: 42% 2%;
  background-size: 307px;
}

.ceo-photo.in-team._2 {
  background-image: url('../images/team-4.jpg');
  background-position: 50% 0px;
}

.ceo-photo.in-team._2.erika-valera-photo {
  background-image: url('../images/erika-headshot.jpg');
  background-position: -12px -35px;
  background-size: 200px;
}

.ceo-photo.in-team._3 {
  background-image: url('../images/Kit-Teguh-Headshot2.jpg');
  background-position: 33% 14%;
}

.ceo-photo.in-team._3.kit-teguh-photo {
  background-position: -33px -5px;
  background-size: 250px;
}

.staff-name {
  margin-bottom: 5px;
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #000;
  font-weight: 700;
}

.staff-name.ceo-intro-name {
  text-align: left;
}

.job-title {
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #b7b7c7;
  font-weight: 400;
}

.job-title.ceo-intro-job-title {
  text-align: left;
}

.sign-font {
  font-family: 'Walrus typeface', sans-serif;
  color: #121217;
  font-size: 90px;
  line-height: 80px;
}

.sign-font.ceo-intro-signature {
  text-align: left;
}

.preloader {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 9998;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.loader-top-half {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 50%;
  margin-top: auto;
  margin-bottom: 0px;
  background-color: #eef4f8;
}

.loader-bottom-half {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 50%;
  margin-top: auto;
  margin-bottom: 0px;
  background-color: #eef4f8;
}

.preloader-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.dropdown-link {
  padding-top: 9px;
  padding-bottom: 8px;
  color: #919197;
  font-size: 14px;
}

.dropdown-link:hover {
  color: #616167;
  text-decoration: underline;
}

.dropdown-link.w--current {
  color: #515157;
  text-decoration: underline;
}

.nav-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.services-wrapper {
  padding: 80px 40px;
  border: 1px solid #e2eff8;
  border-radius: 3px;
  background-color: #fff;
  text-align: center;
}

.services-wrapper.second-style {
  display: block;
  width: 95%;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  padding: 70px 65px 30px;
}

.services-wrapper.second-style.dictionary-definition-wrapper {
  padding-top: 30px;
}

.features-icon {
  margin-bottom: 15px;
}

.features-icon.mad-lab-icon {
  width: auto;
  height: 100px;
}

.paragraph-small {
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 25px;
  font-weight: 400;
  text-align: left;
}

.paragraph-small.copyright {
  margin-bottom: 0px;
  float: left;
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #000;
  font-weight: 500;
  text-align: left;
}

.paragraph-small.copyright.make-it-happen-footer {
  float: right;
}

.paragraph-small.date {
  margin-bottom: 0px;
}

.paragraph-small.block {
  display: inline-block;
  margin-right: 5px;
}

.paragraph-small.block.darker {
  color: #717177;
}

.paragraph-small.service-text-blurb {
  text-align: center;
}

.paragraph-small.testimonial-text {
  height: 300px;
}

.services-title {
  margin-bottom: 15px;
  font-family: Ubuntu, Helvetica, sans-serif;
  font-size: 17px;
  font-weight: 700;
}

.services-title.green {
  color: #000;
  font-weight: 700;
  text-align: center;
}

.services-title.radio-text {
  margin-bottom: 10px;
  color: #333;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
}

.services-title.client-understanding-title {
  text-align: left;
}

.services-title.red-text {
  color: #e3211a;
}

.left-padding {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 700px;
  padding-right: 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.left-padding.no-padding {
  padding-right: 0px;
}

.left-padding.make-left {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.left-padding.make-left.work-listing-right-side {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.circle-shape {
  position: relative;
  z-index: 1;
  display: block;
  width: 650px;
  height: 650px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 100%;
  background-image: url('../images/votiva-globe.png');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  box-shadow: none;
}

.circle-shape.imac-hiring {
  background-image: url('../images/imac.jpg');
  background-size: 500px;
}

.shape-7 {
  position: absolute;
  right: -215px;
  bottom: 140px;
  z-index: 1;
  opacity: 0.95;
}

.shape-7.votiva-logo-shape {
  right: 14px;
}

.margin-page {
  position: relative;
  margin-top: 120px;
}

.margin-page.more {
  margin-top: 150px;
}

.margin-page.pi-pay-challenges-overview {
  margin-bottom: 90px;
}

.team-wrapper {
  display: block;
  width: 95%;
  margin-top: 100px;
  margin-right: auto;
  margin-left: auto;
  padding: 20px 40px 25px;
  border: 1px solid #e2eff8;
  border-radius: 3px;
  background-color: #fff;
  text-align: center;
}

.social-icon {
  margin-right: 5px;
  margin-left: 5px;
}

.arrow-hide {
  display: none;
}

.slide-nav {
  position: relative;
  padding-top: 20px;
  opacity: 0.5;
  font-size: 9px;
  text-align: right;
}

.slide-nav.center {
  text-align: center;
}

.testi-slider {
  height: auto;
  background-color: transparent;
}

.testi-slider.hear-it-from-the-team-slider {
  margin-top: 150px;
}

.testi-wrapper {
  position: relative;
  display: block;
  overflow: hidden;
  width: 90%;
  margin-right: 0px;
  margin-left: auto;
  padding: 40px 35px;
  border: 1px solid #e2eff8;
  border-radius: 3px;
  background-color: #fff;
}

.testi-wrapper.second {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 500px;
  margin-left: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.testi-author {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.testi-author.add-margin {
  margin-top: 20px;
}

.testi-photo {
  width: 65px;
  height: 65px;
  margin-right: 13px;
  border-radius: 100%;
  background-image: url('../images/team-2_1.jpg');
  background-position: 50% 50%;
  background-size: 120px;
  background-repeat: no-repeat;
}

.testi-photo._3 {
  width: 100px;
  height: 100px;
  background-image: url('../images/ceo.jpg');
  background-size: cover;
}

.testi-photo._3.sreyoun-headshot {
  background-image: url('../images/SreyOun-Photoshot.jpg');
  background-position: 45% 1%;
  background-size: 180px;
}

.testi-photo._3.chilleap-headshot {
  background-image: url('../images/MAD-low-res-_-samjamphoto--99.jpg');
  background-position: 42% 23%;
  background-size: 180px;
}

.testi-photo._4 {
  width: 100px;
  height: 100px;
  background-image: url('../images/Phana-Headshot.jpg');
  background-position: 38% 3%;
  background-size: 140px;
}

.testi-photo._4.phana-headshot {
  background-position: 36% 2%;
  background-size: 180px;
}

.testi-photo._4.sam-headshot {
  background-image: url('../images/Sam-Headshot.jpg');
  background-position: 42% 29%;
  background-size: 300px;
}

.testi-photo._5 {
  width: 100px;
  height: 100px;
  background-image: url('../images/team-2.jpg');
  background-size: cover;
}

.testi-photo._5.por-headshot {
  background-image: url('../images/team_circular-17.png');
  background-position: 42% 36%;
  background-size: 130px;
}

.testi-photo._5.pherum-headshot {
  background-image: url('../images/IMG_4225.jpeg');
  background-position: 45% 6%;
  background-size: 180px;
}

.testi-name {
  margin-top: 0px;
  margin-bottom: 0px;
}

.footer {
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 500px;
  padding-right: 20px;
  padding-left: 20px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f8fbfd;
}

.footer.style-2 {
  position: static;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #fff;
}

.footer-column {
  margin-right: 30px;
}

.link-block {
  width: 60px;
  height: 60px;
}

.mail {
  display: inline-block;
  color: #818187;
  text-decoration: none;
}

.footer-title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-sub-title {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #000;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
}

.footer-block {
  display: block;
  margin-bottom: 10px;
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #000;
  font-weight: 400;
  text-decoration: none;
}

.footer-block:hover {
  color: #717177;
  text-decoration: underline;
}

.horizontal-line {
  position: absolute;
  left: 50%;
  display: block;
  width: 1px;
  height: 510px;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  background-color: #e2eff8;
}

.horizontal-line.top {
  left: 50%;
  top: 0px;
  right: 50%;
  margin-top: 165px;
}

.horizontal-line.top.home-page-process-vertical-line {
  height: 391px;
}

.horizontal-line.vertical {
  left: 0px;
  top: 60px;
  right: 0px;
  width: 80%;
  height: 1px;
  margin-top: 0px;
}

.features-wrapper {
  margin-top: 70px;
}

.features-content {
  position: relative;
  z-index: 1;
  width: 33.333%;
  margin-top: -1px;
  margin-left: -1px;
  padding: 80px 40px;
  float: left;
  border: 1px solid #e2eff8;
  background-color: #fff;
  text-align: center;
}

.shape-9 {
  position: absolute;
  left: -300px;
  top: -150px;
}

.top-title-wrapper {
  position: relative;
  z-index: 10;
}

.top-title-wrapper.style-2 {
  top: -120px;
  margin-left: -187px;
}

.about-image {
  position: relative;
  z-index: 1;
  display: block;
  border-radius: 5px;
}

.about-image.votiva-new-logo-image {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.shape-10 {
  position: absolute;
  left: -30px;
  bottom: -35px;
  width: 85%;
  height: 400px;
  border: 2px solid #e3211a;
}

.macbook {
  position: relative;
  z-index: 1;
}

.mockup-wrapper {
  position: relative;
}

.process-icon {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 120px;
  height: 120px;
  margin-bottom: 25px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #e2eff8;
  border-radius: 100%;
  background-color: #fff;
}

.process-content {
  width: 80%;
}

.process-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.process-wrapper._2 {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.banner-title {
  display: block;
  width: 60%;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  color: #fff;
  line-height: 50px;
  font-weight: 400;
}

.logo-client {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 20%;
  height: 100px;
  float: left;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.logo-client.logo-trans {
  opacity: 0.6;
}

.submit-project-wrapper {
  display: block;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

.field-label {
  margin-bottom: 7px;
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #212127;
  font-weight: 600;
}

.text-field {
  height: 50px;
  padding-left: 15px;
  border: 1px solid #e2eff8;
  border-radius: 5px;
  font-size: 15px;
}

.text-field:hover {
  background-color: transparent;
  color: #717177;
}

.text-field:focus {
  border-color: #e3211a;
  background-color: transparent;
}

.text-field::-webkit-input-placeholder {
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #b4b4b4;
}

.text-field:-ms-input-placeholder {
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #b4b4b4;
}

.text-field::placeholder {
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #b4b4b4;
}

.text-field.area {
  height: auto;
  padding-top: 15px;
  padding-bottom: 100px;
}

.text-field.subscribe {
  width: 60%;
  float: left;
  border-right-style: none;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.radio-button-field {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5px;
  margin-bottom: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.radio-button {
  display: block;
  margin-top: 0px;
  background-color: #fff;
}

.field-label-2 {
  display: none;
}

.radio-1 {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.radio-wrapper {
  margin-top: 5px;
  padding: 30px;
  border: 1px solid #e2eff8;
  border-radius: 5px;
  background-color: #fff;
  text-align: center;
}

.radio-wrapper:hover {
  border-color: #e3211a;
}

.success-message {
  border-radius: 5px;
  background-color: #1eac4d;
  color: #fff;
}

.error-message {
  border-radius: 5px;
  background-color: #e3211a;
  color: #fff;
  text-align: center;
}

.project-wrapper {
  position: relative;
  display: block;
  width: 100%;
  float: left;
  color: #212127;
  text-align: center;
  text-decoration: none;
}

.project-wrapper.second-style {
  box-shadow: 0 20px 50px -20px rgba(0, 0, 0, .1);
}

.project-wrapper.second-style.no-shadow {
  box-shadow: none;
}

.project-image {
  width: 100%;
}

.project-image.with-radius {
  background-color: #fff;
}

.project-item {
  margin-bottom: 40px;
  padding-right: 20px;
  padding-left: 20px;
}

.project-item.second {
  margin-bottom: 0px;
  padding-right: 0px;
  padding-left: 0px;
}

.banner-image {
  position: relative;
  left: 0px;
  top: 0px;
  right: 0px;
  display: inline-block;
  width: 100%;
  opacity: 0.51;
}

.shape-11 {
  position: absolute;
  right: 60px;
  bottom: 200px;
  width: 0px;
  height: 0px;
  border-top: 150px solid hsla(0, 100%, 88%, 0);
  border-bottom: 50px solid transparent;
  border-left: 150px solid #2adc65;
  -webkit-filter: blur(5px);
  filter: blur(5px);
}

.button-divider {
  display: inline-block;
  width: 20px;
}

.image-left-full {
  max-height: 100%;
  max-width: none;
  border-radius: 70px;
}

.image-left-full.in-map {
  position: relative;
  overflow: hidden;
  width: 1080px;
  height: 600px;
}

.image-left-full.ipad {
  margin-top: 100px;
  margin-left: -100px;
  border-radius: 0px;
}

.image-left-full.iphone-fourth {
  position: relative;
  left: 138px;
  float: right;
}

.image-left-full.iphone-fourth.absolute {
  position: absolute;
  left: auto;
  right: -50px;
  bottom: 82px;
}

.services-content {
  position: relative;
  overflow: hidden;
}

.animation-wrapper {
  position: relative;
  z-index: 1;
}

.quote-icon {
  margin-bottom: 20px;
}

.align-left {
  text-align: left;
}

.map {
  width: 100%;
  height: 100%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.green-shape {
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 100%;
  max-height: 100%;
  max-width: none;
}

.circle-icon-service {
  position: absolute;
  left: 50%;
  top: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 120px;
  height: 120px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #e2eff8;
  border-radius: 100%;
  background-color: #fff;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.quote-icon-big {
  margin-right: 25px;
  float: left;
}

.block-quote {
  margin-bottom: 0px;
  border-left-color: #e3211a;
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #333;
  font-size: 22px;
  text-align: left;
}

.quote-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.quote-wrapper.pi-pay-question {
  margin-bottom: 90px;
}

.project-image-wrapper {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.project-image-wrapper.with-corner {
  border-radius: 0px;
}

.image-project-overlay {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(0, 0, 0, .2);
}

.square-icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 45px;
  height: 45px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 3px;
  background-color: #2adc65;
}

.scroll-down-wrapper {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 25px;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.mouse-scroll {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 24px;
  height: 38px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border: 2px solid #e3211a;
  border-radius: 12px;
}

.mouse-scroll.w--current {
  border-color: #e3211a;
}

.mouse-dots {
  width: 4px;
  height: 4px;
  margin-top: 10px;
  border-radius: 100%;
  background-color: #e3211a;
}

.make-relative {
  position: relative;
}

.about-image-1 {
  margin-top: -50px;
  margin-right: 20px;
  border-radius: 5px;
}

.about-image-2 {
  margin-top: 0px;
  border-radius: 5px;
}

.about-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.features-image {
  border-radius: 5px;
}

.project-image-zoom {
  height: 100%;
  background-image: url('../images/example-bg.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-filter: blur(5px);
  filter: blur(5px);
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.project-image-zoom.not-blur {
  -webkit-filter: none;
  filter: none;
}

.project-image-overlay {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 100%, .4);
  background-image: url('../images/Phnom-Penh-Crown-FC-Captain-Photo.jpg'), -webkit-radial-gradient(circle farthest-corner at 50% 50%, transparent, #fff 89%);
  background-image: url('../images/Phnom-Penh-Crown-FC-Captain-Photo.jpg'), radial-gradient(circle farthest-corner at 50% 50%, transparent, #fff 89%);
  background-position: 0px 0px, 0px 0px;
  background-size: cover, auto;
  background-repeat: no-repeat, repeat;
}

.project-image-overlay.in-banner {
  display: block;
  background-color: hsla(0, 0%, 100%, .3);
  background-image: -webkit-linear-gradient(270deg, hsla(0, 100%, 99%, 0) 19%, #fff);
  background-image: linear-gradient(180deg, hsla(0, 100%, 99%, 0) 19%, #fff);
}

.project-image-overlay.in-banner.votiva-case-study-overlay-cover {
  background-image: -webkit-linear-gradient(270deg, transparent 85%, #fff), -webkit-linear-gradient(270deg, transparent, transparent);
  background-image: linear-gradient(180deg, transparent 85%, #fff), linear-gradient(180deg, transparent, transparent);
}

.banner-image-zoom {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  background-image: url('../images/MAD-~-samjamphoto--43.jpeg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.banner-image-zoom.pi-pay-cover-image {
  background-image: url('../images/staircase-up.jpg');
}

.banner-image-zoom.votiva-cover-image-case-study {
  background-image: url('../images/44444.jpg');
  background-size: cover;
}

.banner-image-zoom.careers-banner {
  background-image: url('../images/MAD-~-samjamphoto--11.jpeg');
}

.logo-banner {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 100px;
  z-index: 4;
  display: block;
  width: 95%;
  margin-right: auto;
  margin-left: auto;
}

.blog-wrapper {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100%;
  float: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  border: 1px solid #e2eff8;
  border-radius: 3px;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #313137;
  text-decoration: none;
}

.blog-wrapper:hover {
  color: #2adc65;
}

.blog-wrapper.second-style {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-color: transparent;
}

.blog-wrapper.third-style {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
}

.blog-wrapper.third-style.final {
  width: 96%;
  margin-bottom: 20px;
}

.blog-wrapper.third-style.final:hover {
  box-shadow: 0 0 10px -2px rgba(51, 51, 51, .23);
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #e3211a;
}

.blog-photo {
  position: relative;
  overflow: hidden;
  margin-left: 80px;
}

.blog-photo.normal {
  margin-left: 0px;
}

.blog-photo.half {
  width: 250px;
  height: 250px;
  margin-right: 30px;
  margin-left: 0px;
  background-image: url('../images/example-bg.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.blog-photo.half.handbook-photo-careers-page {
  background-image: url('../images/handbook.jpg');
}

.blog-photo.half.hiring-process-background {
  background-image: url('../images/why-no-sales.jpg');
}

.blog-photo.half.detailed-benefits-guide {
  background-image: url('../images/sop-photo.jpg');
}

.blog-photo.half.faq-question-background-image {
  background-image: url('../images/31138219_255787341631703_5180550081685749760_n.jpg');
}

.blog-category {
  position: absolute;
  top: 12.5px;
  right: 12.5px;
  padding: 7px 15px;
  border-radius: 3px;
  background-color: #fff;
  color: #919197;
  font-size: 13px;
}

.blog-content {
  padding: 35px;
  background-color: #fff;
}

.blog-content.second-content {
  position: relative;
  left: -80px;
  z-index: 2;
  padding: 51px 49px;
  border: 1px solid #e2eff8;
  border-radius: 3px;
  background-color: #fff;
}

.blog-content.second-content.sop-content-holder {
  padding: 55px 68px;
}

.blog-content.third-content {
  padding: 10px 0px 0px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: transparent;
}

.blog-title {
  margin-top: 15px;
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #212127;
  font-size: 19px;
  line-height: 28px;
  font-weight: 700;
  text-align: left;
}

.date-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.date-image {
  margin-right: 15px;
}

.blog-image {
  border-radius: 11px;
}

.blog-flex {
  margin-right: 30px;
}

.sub-banner {
  position: relative;
  z-index: 1;
  height: 500px;
  background-color: #f8fbfd;
  background-image: -webkit-linear-gradient(270deg, hsla(0, 0%, 100%, .5), hsla(0, 0%, 100%, .5)), url('../images/sub-banner.jpg');
  background-image: linear-gradient(180deg, hsla(0, 0%, 100%, .5), hsla(0, 0%, 100%, .5)), url('../images/sub-banner.jpg');
  background-position: 0px 0px, 50% 0px;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
}

.portfolio-big-wrapper {
  position: relative;
  z-index: 1;
}

.sidebar-content {
  margin-bottom: 50px;
}

.utility-page-wrap {
  position: relative;
  z-index: 3;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 400px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.utility-page-form.horizontal {
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

._404-icon {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.project-left {
  margin-right: 0px;
  margin-left: 50px;
}

.project-left.base {
  margin-right: 50px;
  margin-left: 0px;
}

.project-title {
  margin-top: 0px;
}

.reverse-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.link {
  display: inline-block;
  color: #000;
}

.link:hover {
  color: #e3211a;
}

.blog-wrapper-page {
  position: relative;
  overflow: hidden;
  margin-right: 50px;
  border: 1px solid #e2eff8;
  border-radius: 3px;
  background-color: #fff;
}

.blog-content-page {
  display: block;
  width: 85%;
  margin: 50px auto 40px;
}

.button-wrapper {
  padding: 40px;
  text-align: center;
}

.button-wrapper.with-color {
  background-color: #2adc65;
}

.paragraph-wrapper {
  display: block;
  width: 60%;
  margin-right: auto;
  margin-left: auto;
}

.rich-text-wrapper {
  display: block;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

.list-paragraph {
  margin-bottom: 0px;
}

.logo-white-image {
  width: 60px;
}

.footer-link {
  color: #000;
  text-decoration: none;
}

.footer-link:hover {
  color: #e3211a;
}

.link-2 {
  color: #000;
  font-weight: 600;
}

.section-heading {
  font-family: Ubuntu, Helvetica, sans-serif;
  font-weight: 700;
}

.section-heading.left-side-section-heading {
  text-align: left;
}

.section-heading.left-side-section-heading.two-red-dots {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #e3211a;
}

.section-heading.right-hand-section-heading {
  font-family: Ubuntu, Helvetica, sans-serif;
  text-align: right;
}

.section-heading.iwantto-cta {
  margin-bottom: 80px;
}

.section-heading.two-red-dots {
  color: #e3211a;
  font-size: 50px;
}

.page-text {
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #333;
  font-size: 20px;
  font-weight: 400;
  text-align: left;
}

.page-text.right-aligned-paragraph {
  text-align: right;
}

.page-text.page-text-between-images {
  margin-top: 60px;
}

.country-name-contact {
  font-family: Ubuntu, Helvetica, sans-serif;
  font-weight: 700;
  text-align: left;
}

.customer-common-points {
  margin-top: 90px;
}

.page-text-link {
  color: #333;
  font-weight: 500;
}

.page-text-link:hover {
  color: #e3211a;
}

.instagram-image {
  width: 300px;
  height: 300px;
  border-radius: 50px;
}

.instagram-row {
  margin-top: 60px;
}

.contact-page-title-link {
  display: inline-block;
  text-decoration: none;
}

.contact-page-title-link:hover {
  color: #fff;
  text-decoration: underline;
}

.pi-pay-competitors {
  margin-bottom: 110px;
}

.pi-pay-headshot-image {
  display: block;
  margin-top: 90px;
  margin-right: auto;
  margin-left: auto;
}

.pi-pay-direction-image {
  display: block;
  width: 800px;
  margin-right: auto;
  margin-left: auto;
}

.pi-pay-direction-image.votiva-seo-image {
  margin-top: 60px;
}

.popup-modal {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 630px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  background-color: #fff;
  box-shadow: 0 0 90px 0 rgba(0, 0, 0, .6);
  text-align: left;
}

.popup {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 3000;
  display: none;
  overflow: visible;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(25, 38, 48, .8);
  -webkit-perspective: 2000px;
  perspective: 2000px;
}

.client-logo-row {
  margin-bottom: 50px;
}

.text-block {
  font-family: Ubuntu, Helvetica, sans-serif;
}

.div-block {
  display: block;
}

.progress-bar {
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 9999;
  display: none;
  width: 100%;
  height: 3px;
  background-color: #e3211a;
  -webkit-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
}

.social-media-footer-icon {
  display: inline-block;
  margin-top: 25px;
  margin-right: 10px;
  margin-left: 10px;
}

.hiring-tag {
  display: inline-block;
  width: 100px;
  height: 20px;
  margin-top: 23px;
  margin-left: 15px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 10px;
  background-color: #e3211a;
  text-decoration: none;
}

.hiring-tag-text {
  display: block;
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

.hiring-tag-text:hover {
  text-decoration: underline;
}

.red-paragraph {
  color: #e3211a;
}

html.w-mod-js *[data-ix="hide-popup"] {
  display: none;
  opacity: 0;
}

html.w-mod-js *[data-ix="hide-modal"] {
  opacity: 0;
  -webkit-transform: rotateX(0deg) rotateY(90deg) rotateZ(0deg);
  transform: rotateX(0deg) rotateY(90deg) rotateZ(0deg);
}

@media (max-width: 991px) {
  body {
    padding-bottom: 0px;
  }
  .banner {
    height: 1200px;
  }
  .banner.style-2 {
    height: 700px;
  }
  .banner.style-3 {
    overflow: hidden;
    height: 800px;
    background-image: -webkit-linear-gradient(270deg, hsla(0, 1%, 45%, .2), hsla(0, 1%, 45%, .2)), url('../images/why-no-sales.jpg');
    background-image: linear-gradient(180deg, hsla(0, 1%, 45%, .2), hsla(0, 1%, 45%, .2)), url('../images/why-no-sales.jpg');
    background-position: 0px 0px, 36% 110%;
    background-size: auto, cover;
    background-repeat: repeat, no-repeat;
    opacity: 1;
  }
  .banner.style-4 {
    height: 800px;
    background-color: #e3211a;
  }
  .banner.style-6 {
    height: 800px;
  }
  .section.image {
    padding-top: 130px;
    padding-bottom: 130px;
  }
  .section.with-shape.overflow {
    background-image: none;
    background-position: 0px 0px;
    background-size: auto;
    background-repeat: repeat;
  }
  .section.with-shape-second {
    background-image: none;
    background-position: 0px 0px;
    background-size: auto;
    background-repeat: repeat;
  }
  .container.center.style-2 {
    top: 50%;
  }
  .container.center.style-3 {
    top: 50%;
  }
  .container.banner-style-3 {
    top: 55%;
  }
  .navbar.white-style {
    position: absolute;
  }
  .navlink {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .icon {
    margin-right: 25px;
  }
  .shape-1 {
    bottom: 36px;
    display: none;
  }
  .shape-4 {
    display: none;
  }
  .shape-4.version-2 {
    right: 195px;
  }
  .flex-row.no-flex {
    display: block;
  }
  .flex-row.vertical-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .flex-row.vertical-flex.no-reverse.work-listing-flex-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .flex-row.vertical-flex.work-listing-flex-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .shape-8 {
    right: -50px;
  }
  .shape-8.style-2 {
    right: 24px;
  }
  .vertical-wrapper {
    top: -2px;
    display: none;
  }
  .vertical-wrapper.left {
    top: 53px;
  }
  .big-title.style-3 {
    font-size: 50px;
    line-height: 60px;
  }
  .big-title.style-4 {
    font-size: 50px;
    line-height: 60px;
  }
  .page-subtitle.homepage-subtitle {
    padding-right: 0px;
  }
  .top-margin.medium.no-margin {
    margin-top: 0px;
  }
  .top-margin.medium.copyright-footer {
    margin-top: 29px;
  }
  .top-margin.big._2nd-definition-column-mobile {
    margin-top: 0px;
  }
  .top-margin.work-learn-more-button-div {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .left-banner-wrapper.make-center {
    text-align: center;
  }
  .preloader {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .nav-menu {
    height: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #fff;
  }
  .nav-menu.in-mobile.second {
    background-color: #515157;
  }
  .services-wrapper {
    margin-bottom: 20px;
    padding-top: 40px;
    padding-bottom: 30px;
  }
  .services-wrapper.second-style {
    margin-bottom: 100px;
  }
  .services-wrapper.second-style.no-margin {
    margin-bottom: 0px;
  }
  .services-wrapper.second-style.dictionary-definition-wrapper {
    margin-bottom: 25px;
  }
  .paragraph-small.testimonial-text {
    height: 400px;
  }
  .left-padding {
    height: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-right: 0px;
  }
  .left-padding.make-left.work-listing-right-side {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .shape-7 {
    right: 0px;
    bottom: 3px;
  }
  .team-wrapper {
    width: 70%;
    margin-bottom: 50px;
  }
  .testi-wrapper {
    width: 95%;
    margin-top: 50px;
    margin-left: 0px;
  }
  .testi-wrapper.second {
    display: block;
    height: 700px;
    padding: 20px;
  }
  .testi-author.add-margin {
    display: block;
  }
  .testi-name {
    margin-top: 15px;
  }
  .footer {
    position: relative;
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .footer.style-2 {
    position: relative;
    height: auto;
  }
  .horizontal-line {
    height: 312px;
  }
  .horizontal-line.top {
    height: 333px;
    margin-top: -60px;
  }
  .horizontal-line.top.home-page-process-vertical-line {
    height: 248px;
    margin-top: 31px;
  }
  .horizontal-line.services-intro-line {
    height: 445px;
  }
  .features-content {
    padding: 40px 20px 30px;
  }
  .top-title-wrapper {
    margin-bottom: 40px;
  }
  .top-title-wrapper.style-2 {
    top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }
  .top-title-wrapper.client-list-title-wrapper {
    margin-top: -243px;
  }
  .shape-10 {
    left: -8px;
  }
  .process-content {
    width: 95%;
  }
  .submit-project-wrapper {
    width: 100%;
  }
  .project-item {
    margin-bottom: 20px;
    padding-right: 10px;
    padding-left: 10px;
  }
  .project-item.second {
    width: 100%;
  }
  .banner-image {
    display: none;
    opacity: 1;
  }
  .shape-11 {
    right: -35px;
    bottom: 85px;
  }
  .image-left-full {
    max-height: none;
    max-width: 100%;
  }
  .image-left-full.ipad {
    margin-top: 0px;
    margin-left: 0px;
  }
  .image-left-full.iphone-fourth {
    left: 0px;
  }
  .image-left-full.iphone-fourth.absolute {
    right: 0px;
    bottom: 0px;
  }
  .services-content {
    margin-bottom: 50px;
  }
  .green-shape {
    display: none;
  }
  .features-image {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .project-image-overlay {
    background-color: hsla(0, 0%, 100%, .7);
    background-image: none;
  }
  .blog-wrapper {
    margin-bottom: 20px;
  }
  .blog-photo {
    margin-left: 0px;
  }
  .blog-content.second-content {
    left: -20px;
    padding: 40px;
  }
  .blog-item {
    width: 100%;
  }
  .sidebar {
    margin-top: 50px;
  }
  .sidebar.no-sidebar-margin {
    margin-top: 0px;
  }
  .utility-page-wrap {
    height: 800px;
  }
  .project-left {
    margin-top: 50px;
    margin-left: 0px;
  }
  .project-left.base {
    margin-right: 0px;
  }
  .reverse-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .reverse-row.normal-row {
    display: block;
  }
  .blog-wrapper-page {
    margin-right: 0px;
  }
  .menu-button {
    top: 14px;
    padding: 7px;
    border-radius: 3px;
    font-size: 25px;
    font-weight: 100;
  }
  .menu-button.w--open {
    background-color: transparent;
    color: #2adc65;
  }
  .menu-button.white-button {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background-color: #fff;
    color: #2adc65;
  }
  .mobile-margin {
    margin-top: 50px;
  }
  .top-style-3 {
    display: block;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
  }
  .form {
    display: none;
  }
  .page-text.right-aligned-paragraph.pi-pay-work-listing-text {
    text-align: left;
  }
  .page-text.right-aligned-paragraph.left-aligned-text {
    text-align: left;
  }
  .menu-button-2 {
    top: 14px;
    padding: 7px;
    border-radius: 3px;
    color: #000;
    font-size: 25px;
    font-weight: 100;
  }
  .menu-button-2:hover {
    color: #e3211a;
  }
  .menu-button-2.w--open {
    background-color: transparent;
    color: #e3211a;
  }
  .instagram-image {
    width: 200px;
    height: 200px;
    border-radius: 30px;
  }
  .client-logo-row {
    margin-bottom: 20px;
  }
  .progress-bar {
    display: none;
  }
  .icon-2 {
    color: #e3211a;
  }
}

@media (max-width: 767px) {
  h1 {
    font-size: 30px;
    line-height: 28px;
  }
  .banner {
    height: 700px;
  }
  .banner.style-4 {
    height: 700px;
  }
  .project-content.in-password {
    height: 800px;
  }
  .navbar {
    padding-right: 10px;
    padding-left: 10px;
  }
  .flex-row.vertical-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .flex-row.vertical-flex.no-reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .flex-row.vertical-flex.no-reverse.work-listing-flex-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .flex-row.vertical-flex.work-listing-flex-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .shape-8.style-2 {
    right: 12px;
    bottom: 263px;
  }
  .vertical-wrapper {
    display: none;
  }
  .vertical-wrapper.left {
    margin-left: -213px;
  }
  .title-wrapper {
    width: 90%;
  }
  .big-title.style-2 {
    font-size: 40px;
    line-height: 50px;
  }
  .page-title.make-white.contact-page-email-link {
    font-size: 30px;
  }
  .page-subtitle.white-title {
    font-size: 15px;
  }
  .page-subtitle.homepage-subtitle {
    padding-right: 54px;
    padding-left: 54px;
  }
  .top-margin.big._2nd-definition-column-mobile {
    margin-top: 0px;
  }
  .paragraph-small.testimonial-text {
    height: auto;
  }
  .left-padding {
    height: auto;
  }
  .left-padding.make-left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .circle-shape {
    width: 400px;
    height: 400px;
  }
  .circle-shape.imac-hiring {
    width: 100%;
  }
  .testi-wrapper {
    margin-top: 20px;
  }
  .testi-wrapper.second {
    height: auto;
    padding: 40px;
  }
  .testi-author.add-margin {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .horizontal-line {
    height: 315px;
  }
  .horizontal-line.top {
    height: 212px;
  }
  .horizontal-line.top.home-page-process-vertical-line {
    height: 180px;
    margin-top: -74px;
  }
  .horizontal-line.services-intro-line {
    height: 455px;
  }
  .features-content {
    width: 100%;
  }
  .shape-10 {
    height: 300px;
  }
  .process-content {
    text-align: center;
  }
  .process-wrapper {
    margin-bottom: 40px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .banner-title {
    width: 95%;
  }
  .radio-wrapper {
    margin-bottom: 15px;
  }
  .image-left-full.in-map {
    height: 400px;
  }
  .image-left-full.ipad.votiva-home-page-ipad-image-mobile {
    margin-bottom: 100px;
  }
  .blog-wrapper.second-style {
    display: block;
  }
  .blog-wrapper.third-style {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .blog-wrapper.third-style.final {
    width: 100%;
  }
  .blog-photo.half {
    width: 100%;
    height: 300px;
    margin-right: 0px;
  }
  .blog-content.second-content {
    left: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }
  .blog-content.third-content {
    padding: 40px 40px 30px;
  }
  .blog-item {
    width: 100%;
  }
  .blog-image {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .blog-flex {
    margin-right: 0px;
  }
  .sub-banner {
    height: 350px;
  }
  .menu-button-2 {
    color: #e3211a;
  }
  .instagram-image {
    width: 100%;
    height: 100%;
    margin-top: 60px;
  }
  .instagram-row {
    margin-top: 0px;
  }
  .popup-modal {
    display: block;
    width: 95%;
    height: auto;
  }
  .votiva-div-block-home-page {
    margin-bottom: 80px;
  }
  .client-logo-row {
    margin-bottom: 39px;
  }
}

@media (max-width: 479px) {
  h2 {
    font-size: 26px;
    line-height: 32px;
  }
  .banner {
    height: 100vh;
  }
  .banner.style-2 {
    height: 600px;
  }
  .banner.style-3 {
    height: 550px;
  }
  .banner.style-4 {
    height: 600px;
    background-color: #e3211a;
  }
  .banner.style-6 {
    height: 100vh;
  }
  .project-content.in-password {
    height: 600px;
  }
  .section {
    padding-right: 20px;
    padding-left: 20px;
  }
  .section.with-shape.overflow.home-page-work-section {
    padding-top: 30px;
  }
  .container.center.sub-banner-style {
    top: 58%;
  }
  .container.in-mockup {
    margin-top: 0px;
  }
  .navbar {
    box-shadow: none;
  }
  .navlink {
    margin-top: 20px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 24px;
  }
  .shape-1 {
    right: -74px;
  }
  .shape-1.third-style {
    display: none;
  }
  .shape-2 {
    top: 238px;
  }
  .flex-row.vertical-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .flex-row.vertical-flex.no-reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .flex-row.vertical-flex.work-listing-flex-row {
    margin-bottom: 100px;
  }
  .title-wrapper {
    width: 95%;
  }
  .title-wrapper.with-margin {
    width: 100%;
  }
  .big-title {
    font-size: 30px;
    line-height: 36px;
  }
  .big-title.style-2 {
    font-size: 30px;
    line-height: 40px;
  }
  .big-title.style-3 {
    font-size: 30px;
    line-height: 40px;
  }
  .big-title.style-4 {
    font-size: 30px;
    line-height: 40px;
  }
  .page-title.make-white.contact-page-email-link {
    font-size: 20px;
  }
  .page-subtitle.white-title {
    font-size: 12px;
  }
  .page-subtitle.homepage-subtitle {
    padding-right: 0px;
    padding-left: 0px;
  }
  .top-margin.medium {
    margin-top: 20px;
  }
  .top-margin.big._2nd-definition-column-mobile {
    margin-top: 0px;
  }
  .top-margin.work-learn-more-button-div {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .button.subscribe-button {
    width: 50%;
  }
  .button.mad-button.left-align-button {
    float: none;
    font-size: 12px;
  }
  .button.mad-button.left-align-button.howtowork-button {
    font-size: 10px;
  }
  .button.mad-button.right-aligned-button {
    float: none;
  }
  .button.mad-button.work-learn-more-button {
    margin-top: 0px;
  }
  .job-title {
    font-size: 11px;
  }
  .sign-font {
    margin-left: 15px;
  }
  .preloader {
    display: none;
  }
  .nav-menu {
    height: 100vh;
  }
  .services-wrapper {
    padding: 35px;
  }
  .services-wrapper.second-style {
    width: 100%;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
  }
  .paragraph-small.copyright {
    float: none;
    text-align: center;
  }
  .paragraph-small.copyright.make-it-happen-footer {
    margin-top: 12px;
    float: none;
  }
  .left-padding.make-left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .circle-shape {
    width: 274px;
    height: 200px;
  }
  .circle-shape.imac-hiring {
    border-radius: 0%;
    background-size: cover;
  }
  .margin-page {
    margin-top: 60px;
  }
  .margin-page.more.no-margin-page {
    margin-top: 0px;
  }
  .team-wrapper {
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
  }
  .testi-wrapper {
    width: 100%;
    padding: 20px;
  }
  .testi-wrapper.second {
    padding: 30px 30px 20px;
  }
  .testi-photo._5 {
    width: 70px;
    height: 70px;
  }
  .testi-name {
    font-size: 13px;
  }
  .horizontal-line {
    height: 277px;
  }
  .horizontal-line.top {
    height: 268px;
    margin-top: -121px;
  }
  .horizontal-line.top.home-page-process-vertical-line {
    display: none;
  }
  .horizontal-line.services-intro-line {
    height: 400px;
  }
  .top-title-wrapper.client-list-title-wrapper {
    margin-top: 218px;
  }
  .shape-10 {
    height: 150px;
  }
  .macbook {
    display: none;
  }
  .mockup-wrapper {
    display: none;
  }
  .banner-title {
    font-size: 28px;
    line-height: 34px;
  }
  .text-field.subscribe {
    width: 50%;
  }
  .project-item {
    padding-right: 0px;
    padding-left: 0px;
  }
  .banner-image {
    display: none;
  }
  .image-left-full {
    border-radius: 20px;
  }
  .image-left-full.in-map {
    height: 300px;
  }
  .image-left-full.ipad.votiva-home-page-ipad-image-mobile {
    margin-bottom: 99px;
  }
  .green-shape {
    display: none;
  }
  .quote-icon-big {
    margin-bottom: 25px;
  }
  .quote-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .blog-photo.half {
    height: 200px;
  }
  .blog-content {
    padding: 20px 20px 10px;
  }
  .blog-content.third-content {
    padding: 20px 20px 10px;
  }
  .blog-item {
    padding-right: 0px;
    padding-left: 0px;
  }
  .sub-banner {
    height: 300px;
  }
  .utility-page-wrap {
    height: 600px;
  }
  .blog-content-page {
    width: 90%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .form {
    display: none;
  }
  .section-heading.right-hand-section-heading {
    text-align: left;
  }
  .section-heading.iwantto-cta {
    font-size: 15px;
  }
  .page-text.right-aligned-paragraph {
    text-align: left;
  }
  .page-text.contact-page-text {
    font-size: 16px;
  }
  .instagram-image {
    width: 100%;
    height: 100%;
    margin-top: 25px;
    border-radius: 10px;
  }
  .instagram-row {
    margin-top: 0px;
  }
  .popup-modal {
    width: 90%;
  }
  .votiva-work-listing-image-column {
    margin-bottom: 90px;
  }
  .pi-pay-working-listing-column {
    margin-bottom: 60px;
  }
  .votiva-div-block-home-page {
    margin-bottom: 60px;
  }
  .client-logo-row {
    margin-bottom: 0px;
  }
}

@font-face {
  font-family: 'Walrus typeface';
  src: url('../fonts/Walrus-Typeface.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}